<h1 > Zarejestruj </h1>
<form action="/register" method="POST">
  <div>
    <label for="name">Imie</label>
    <input type="name" id="name" name="name" placeholder="Enter Name" />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Enter Email" />
  </div>
  <div>
    <label for="password">Hasło</label>
    <input type="password" id="password" name="password" placeholder="Create Password" />
  </div>
  <div>
    <label for="password2">Potwierdź hasło</label>
    <input type="password" id="password2" name="password2" placeholder="Confirm Password" />
  </div>
  <button type="submit">
    Zarejestruj
  </button>
</form>
<p> Masz już konto? <a href="/login">Zaloguj</a></p>