<a href="/">Home</a>
<a href="/primarySchool">Szkoła podstawowa</a>

<!-- 
    TODO: 
    Pitagoras jako element listy rozwijanej z "Szkoła podstawowa"
-->
<a href="/primarySchool/pythagoreanTheorem">Twierdzenie Pitagorasa</a>


<a href="/highSchool">Liceum</a>

<!-- 
    TODO: 
    Funkcja kwadratowa jako element listy rozwijanej z "Liceum"
-->
<a href="/highSchool/quadraticFunction">Funkcja kwadratowa</a>
<a onclick="console.log('topkek') " class="login" href='/login'>Zaloguj się</a>
<a class="signin" href="/register">Zarejestruj się</a>
