<a href="/" class="home-button">Home</a>

<button class="side-dropdown-button">Szkoła podstawowa <i class="arrow down"></i></button>
<div class="dropdown-container">
    <%- include('../primarySchool/index.ejs') -%>
</div>



<button class="side-dropdown-button">Liceum <i class="arrow down"></i></button>
<div class="dropdown-container">
    <%- include('../highSchool/index.ejs') -%>
</div>

<a class="login" href='/login'>Zaloguj się</a>
<a class="signin" href="/register">Zarejestruj się</a>

<script>
    var dropdown = document.getElementsByClassName("side-dropdown-button");
    var i;
    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {

            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }

        });
    }
</script>