<h1>Witaj na naszej stronie!</h1>
<p>Wychodzimy z inicjatywą do uczniów szkół podstawowych i ponadpodstawowych. Znajdziesz u nas zagadnienia z matematyki
    zarówno na poziomie podstawowym jak i rozszerzonym.</p>
<div class="list-container">
    <div class="list">
        <h3>Spis zagadnień dla szkół podstawowych</h3>
        <ol>
            <li><a href="/primarySchool/pythagoreanTheorem">Twierdzenie Pitagorasa</a> </li>
            <li><a href="/primarySchool/planimetry">Planimetria</a></li>
        </ol>
    </div>
    <div class="list">
        <h3>Spis zagadnień dla szkół ponadpodstawowych</h3>
        <ol>
            <li><a href="/highSchool/quadraticFunction">Funkcja kwadratowa</a></li>
            <li><a href="/highSchool/circleEquation">Równanie okręgu</a></li>
        </ol>
    </div>
</div>
<p>Koniecznie odwiedź nasze serwisy społecznościowe!</p>
<a href="http://www.facebook.com/" target="_blank" class="fa fa-facebook"></a>
<a href="http://www.twitter.com/" target="_blank" class="fa fa-twitter"></a>
<a href="http://www.youtube.com/" target="_blank" class="fa fa-youtube"></a>