<h2>Funkcja kwadratowa</h2>

<img src="/funkcja.jpg" alt="Funkcja Kwadratowa">

<p>Filmik z kanału Matemaks:</p>
<div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/G3kONp54iBQ" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>