<h2>Nowe zadanie</h2>
<form action="/problems" method="POST">
    <div>
        <label>Nazwa zadania</label>
        <input type="text" name="title" value="<%= problem.title %>">
    </div>
    <div>
        <label>Treść</label>
        <textarea name="contents" rows="10" cols="30"><%= problem.contents %></textarea>
    </div>
    <div>
        <label>Rozwiązanie</label>
        <textarea name="explanation" rows="10" cols="30"><%= problem.explanation %></textarea>
    </div>
    <div>
        <label>Odpowiedź</label>
        <textarea name="solution" rows="10" cols="30"><%= problem.solution %></textarea>
    </div>
    <div>
        <label>Poziom</label>
        <input list="school" name="school">
        <datalist id="school">
            <option value="Liceum">
            <option value="Szkoła podstawowa">
          </datalist>
    </div>
    <a href="/dashboard">Cancel</a>
    <button type="submit">Create</button>
</form>