/* PLIK Z OGÓLNYM DESIGNEM STRON */

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

input[type=email], input[type=password], input[type=name] {
    width: 300px;
    padding: 5px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 300px;
    background-color: #111111;
    color: #818181;
    padding: 5px 10px;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
input[type=submit]:hover {
    color: #f1f1f1;
}
.list-container{
    display: flex;
    flex-direction: left;
    flex-wrap: wrap;
}
.list{
    border-left: black 3px solid;
    padding: 0px 5px 0px 10px;
    margin: 10px 10px 10px 0px;
}
.list ol{
    padding-left: 15px;
    text-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
li:hover{
    color: #818181;
    cursor: pointer;
}
@media screen and (min-width: 1025px){
    .topnav{
        display: none;
    }
    .sidenav{
        display: block;
    }
}
@media screen and (max-width: 1024px){
    .topnav{
        display: block;
    }
    .sidenav{
        display: none;
    }
    .main{
        margin-left: 0;
    }
}
