/* PLIK Z OGÓLNYM DESIGNEM STRON */
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

/* LAYOUT STRON Z ZAGADNIENIAMI */
.svg-container{
    position: relative;
    margin: 0 auto;
}
.svg-container svg{
    position: absolute;
    width: 100%;
    height: 100%;
}
.main .svg-container svg text{
    font: 15px;
}
img{
    width: auto;
    height: auto;
    margin: 5px auto;
}

/* LOGOWANIE I REJESTRACJA */
input[type=email], input[type=password], input[type=name] {
    width: 300px;
    padding: 5px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 300px;
    background-color: #111111;
    color: #818181;
    padding: 5px 10px;
    margin: 3px 0;
    border: 1px solid #111111;
    border-radius: 4px;
    cursor: pointer;
  }
input[type=submit]:hover {
    color: #f1f1f1;
}

/* LISTA ZAGADNIEŃ */
.list-container{
    display: flex;
    flex-direction: left;
    flex-wrap: wrap;
}
.list{
    border-left: black 3px solid;
    padding: 0px 5px 0px 10px;
    margin: 10px 10px 10px 0px;
}
.list ol{
    padding-left: 15px;
    text-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
li:hover{
    color: #818181;
    cursor: pointer;
}

/* SERWISY SPOŁECZNOŚCIOWE */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 3px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa:hover {
    opacity: 0.7;
}

/* GRA DRAG AND DROP */
.div-target{
    width: 200px;
    height: 100px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #aaaaaa;
}
.drop-container{
    display: flex;
    flex-direction: row;
}
.drop-container p{
    width: 150px;
}
.drag-container{
    display: flex;
    flex-direction: row;
}

/* ZAŁĄCZNIK YOUTUBE */
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 560px;
    max-height: 315px;
  }

/* ZMIANA PASKA NAWIGACYJNEGO */
@media screen and (min-width: 1025px){
    .topnav{
        display: none;
    }
    .sidenav{
        display: block;
    }
}
@media screen and (max-width: 1024px){
    .topnav{
        display: block;
    }
    .sidenav{
        display: none;
    }
    .main{
        margin-left: 0;
    }
}
