<h1>Zaloguj się na swoje konto</h1>
<p>Logowanie pozwala na przeglądanie zawartości</p>
<%- include('../partials/messages') %>
<form action="/login" method="POST">
  <div>
    <input type="email" id="email" name="email" placeholder="Wpisz email" />
  </div>
  <div>
    <input type="password" id="password" name="password" placeholder="Wpisz hasło" />
  </div>
  <input type="submit" value="Zaloguj się">
</form>
<p> Nie masz konta? <a href="/register">Zarejestruj</a></p>

