<h1>Zaloguj się na swoje konto</h1>
<p>Logowanie pozwala na przeglądanie zawartości</p>
<!-- action to akcja która wykonuje się po wciśnięciu przycisku submit -->
<form action="">
    <!-- <label for="login">Login</label><br> -->
    <input type="text" id="login" name="login" placeholder="Twój login..."><br>
    <!-- <label for="lname">Hasło</label><br> -->
    <input type="password" id="password" name="password" placeholder="Twoje hasło..."><br><br>
    <input type="submit" value="Zaloguj się">
</form>