<h2>Twierdzenie pitagorasa</h2>
<div class="svg-container" style="max-width: 500px; height: 300px">
    <?xml version="1.0" standalone="no"?>
    <svg viewBox="0 0 500 300" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <polygon id="triangle" points="30,30 30,270 470,270" style="fill:none;stroke:black;stroke-width:1" />
        <text x="10" y="150" fill="black" id="triangle-a">a</text>
        <text x="300" y="150" fill="black" id="triangle-c">c</text>
        <text x="250" y="290" fill="black" id="triangle-b">b</text>
        <path style="fill:none; stroke:black; stroke-width:1" d="M30,230 Q55,235 70,270" />
        <circle cx="45" cy="260" r="1.5" style="fill: black; stroke:none" />
    </svg>
</div>


<p>Kwadrat długości przeciwprostokątnej trójkąta jest równy sumie kwadratów jego przyprostokątnych.</p>
<div lang="latex">
    a^{2}+b^{2} = c^{2}
</div>